[alias]
	lol     = log --graph --decorate --oneline
	co      = checkout
	br      = branch
	ci      = commit -S
	st      = status
	unstage = reset HEAD --
	last    = log -1 HEAD
	d = difftool -y
	dc = difftool -y --cached

[core]
    editor = nvim

[merge]
	tool = vimdiff

[diff]
	tool = vimdiff

[difftool "vimdiff"]
	prompt = false
	path = nvim

[mergetool "vimdiff"]
	prompt = false
	path = nvim

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
